@model WanderingLegends.Views.WanderingLegends.GameStartVM

<p>Hero Name: @Model.hero.Name</p>
<p>Hero Class: @Model.hero.HeroClass</p>
<p>Hero HP: @Model.hero.Life</p>
<p>Hero Level: @Model.hero.Level</p>
<p>Hero EXP: @Model.hero.ExperiencePoints</p>
<p>Hero Position: @Model.hero.X, @Model.hero.Y</p>
<p>Hero Strength: @Model.hero.Strength</p>
<p>Hero Protection: @Model.hero.Protection</p>

<input type="button" value="Saving progress"/>

